*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f7fb;
}

button{
    font-family:inherit;
}

input,
textarea{
    font-family:inherit;
    outline:none;
}

a{
    text-decoration:none;
}